.thumb-box1 {
  padding:360px 0 23px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: top;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

.thumb-box1.background-1 {
    background-image:url('../img/background-1.jpeg');
}

.thumb-box1.background-2 {
    background-image:url('../img/background-2.jpeg');
}

.thumb-box1.background-3 {
    background-image:url('../img/background-3.jpeg');
}

.thumb-box1.background-4 {
    background-image:url('../img/background-4.jpeg');
}

.thumb-box1.background-5 {
    background-image:url('../img/background-5.jpeg');
}

.thumb-box1.background-6 {
    background-image:url('../img/background-6.jpeg');
}

.thumb-box1.background-7 {
    background-image:url('../img/background-7.jpeg');
}

.thumb-box1.background-8 {
    background-image:url('../img/background-8.jpeg');
}

