body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(white, #EBFFD6, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #EBFFD6,  white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #EBFFD6,  white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #EBFFD6,  white); /* Standard syntax */  
  color: black;
#  font-family: "Karla", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-family: "Merriweather", Verdana, Geneva, Arial, Helvetica, sans-serif;

}

header {
  margin: 0;  
  padding: 0;
  padding-left: 2em;
  color: #005C1F;
}

header#id_header.page-header {
  border-color: transparent;
}

header h1 {
  margin: 0;
  padding: 0
  size: 250%;
}

header div.tagline {
  font-style: italic;
  font-size: 115%;
}

header .consultation {
  padding: 0;
  margin: 0;
  color: #EDFFD6;
  margin-top: 3px;
}

header .consultation div.free {
  background-color: #005C1F; 
  border-radius: 8px;
  padding: 0.25em;
  font-size: 150%;
  text-align: right;
  padding-right: 1em;
  margin-right: 1em;
}

header div.social{
  text-align: left;
}

header div.social img {
  height: 1em;
}

#id_navbar {
  background-image: none;
  background-color: inherit;
  box-shadow: none;
  border-top: none;
  padding-left: 3em;
}

#id_navbar {
  min-height: inherit;
}

#id_navbar ul.nav > li > a {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

#id_page_nav ul {
  margin-top: 1em;
}

#id_page_nav ul.nav > li > a {
  color: #005C1F;
}

main {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

main h1 {
  font-size: 180%;
  color: #005C1F;
}

main h2 {
  font-size: 130%;
  margin-bottom: 0em;
  padding-bottom: 0.125em;
  color: #005C1F;
}

main .testimonial {
  margin-top: 1em;
  margin-bottom: 2em;
  font-style: italic;
}

footer {
  margin: 0;
  padding: 0;
  color:  #005C1F;
  padding-left: 2em;
  margin-top: 1em;
  padding-top: 0.25em;
  border-top: thin solid #E0E0E0
}

label {
  margin-top: 1em;
  font-weight: normal;
  color:  #005C1F;
}

input[type="submit"] {
  margin-top: 1em;
}

#map_canvas {
  width: 500px;
  height: 400px;
}
