{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="thumb-box1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="box">
                    <div class="extra-wrap">
                        <a class="title" href="{% url 'show_services' %}">Free Consultation</a>
                        <figure><img src="{% static 'img/phone2_small.png' %}" alt=""></figure>
                        <p class="desc">Call us at <a href="tel:{{businessinfo.phone_href}}" style="font-size: 100%">{{businessinfo.phone}}</a> to schedule an appointment</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
                <div class="box">
                    <div class="extra-wrap">
                        <a class="title" href="{% url 'show_services' %}">Services on the Go</a>
                        <figure><img src="{% static 'img/car_small.png' %}" alt=""></figure>
                        <p class="desc">Can’t make it in to our office? We may be able to come to
                        you!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="box">
                    <div class="extra-wrap">
                        <a class="title" href="{% url 'show_services' %}">Flexible Scheduling</a>
                        <figure><img src="{% static 'img/schedule_small.png' %}" alt=""></figure>
                        <p class="desc">We work with your family's schedule</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->
<div class="content">
    <div class="thumb-box2">
        <div class="container">
            <h1 class="title wow fadeIn">Communication is Connection</h1>
            <p class="description wow fadeIn" style="font-size: 180%">Call us at <a href="tel:{{businessinfo.phone_href}}" style="font-size: 100%">{{businessinfo.phone}}</a></p>
            <p class="description wow fadeIn">Serving Champaign-Urbana and the surrounding communities.</p>

            <div class="row programs">
                {% for p in programs %}
                {% if p.show %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s" style="margin-top: 2em">
                    <div class="box maxheight">
                      <a href="{% url 'show_services' %}#id_program{{p.id}} "><h2>{{p.title}}</h2>
                      {{p.short_desc_html|safe}}....
                      </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <h2>What Makes Us Special?</h2>

            {% for s in services %}
            {% if not forloop.counter|divisibleby:2 %}
            <div class="row programs">
            {% endif %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s" style="margin-top: 2em">
                {% else %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.2s" style="margin-top: 2em">
                {% endif %}
                    <div class="box maxheight">
                      <strong>{{s.title}}</strong>
                      <p>{{s.short_desc_html|safe}}....</p>
                      <a href="{% url 'show_services' %}#id_service{{s.id}} "class="btn-default btn1" data-text="Read More">
                      Read More <span class="sr-only"> about {{s.title}}</span>
                      </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="thumb-box4" style="margin-top: 3em">
            <div class="container">
                <div class="box">
                    <h2 class="title">Testimonials</h2>
                    {% for t in testimonials %}
                    <p><em>"{{t.quote}}"<em></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="thumb-box3">
            <div class="container">
                <div class="box">
                    <h2>Our Therapists</h2>
                    {% for p in people %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="row">
                    {% endif %}
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10 wow fadeIn" data-wow-delay="0.3s">
                            <div class="thumb-pad1">
                                <div class="thumbnail">
                                    <figure><img src="{% static p.picture %}" alt="" width="25%"></figure>
                                    <div class="caption">
                                        <a href="{% url 'show_people' %}#id_person{{p.id}}" class="name">{{p.first_name}} {{p.last_name}} {{p.suffix}}</a>
                                        <span class="title">{{p.title}}</span>
                                        <p style="margin-bottom: 1em">{{p.short_desc_html|safe}} .....</p>
                                        <a href="{% url 'show_people' %}#id_person{{p.id}}"class="btn-default btn1" data-text="Read More">
                                        Read More <span class="sr-only"> about {{p.first_name}} {{p.last_name}}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-1"></div>
                    {% if forloop.counter|divisibleby:2 or forloop.last %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="thumb-box6">
            <div class="container">
                <h2>Come Visit Our Office</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-1-sm.jpg' %}" alt="Prairie Wind Speech sign in front of building on Woodfield Drive"></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn"><img src="{% static 'img/office-2-sm.jpg' %}" alt="Therapy with a child size table and 2 chairs.  There is a mirror on the wall behind the table."></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn"><img src="{% static 'img/office-3-sm.jpg' %}" alt="Therapy with a child size table and two chairs.  Clock and storage shelves on the wall behinf the table."></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-4-sm.jpg' %}" alt="Therapy room with bookstand and ramps and buildings for toy cars."></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-5-sm.jpg' %}" alt="Therapy room with poster of Pete the Cat"></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-6-sm.jpg' %}" alt="Therapy room with cubbie holes with toys."></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-7-sm.jpg' %}" alt="Therapy with jumping trampoline"></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-8-sm.png' %}" alt="Front door of Prairie Wind Speech"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


