{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<!--content-->
<div class="content" style="padding-top: 5em;"> 
    <div class="thumb-box2">
        <div class="container">
            <h1 class="title wow fadeIn">Location</h1>


            <div class="row programs">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s" style="margin-bottom: 2em">
                    <div class="box maxheight"  >
                      <h2 id="id_address" style="margin-bottom: 0.5em; padding-bottom: 0;">Address</h2>
                      <div style="color: #555; font-size: 120%">{{businessinfo.business_title}}</div>
                      <div style="color: #555; font-size: 120%">{{businessinfo.street}}</div>
                      <div style="color: #555; font-size: 120%">{{businessinfo.city}}, {{businessinfo.state}}  {{businessinfo.zip}}</div>
                      <div style="color: #555; font-size: 120%">{{businessinfo.phone}}</div>
                    </div>
                </div>
            </div>

            <div class="row programs">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s" style="margin-bottom: 2em">
                    <div class="box maxheight"  >
                      <h2 id="id_directions" >Directions</h2>
                      {{businessinfo.directions_html|safe}}
                    </div>
                </div>
            </div>

            <div class="row programs">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s" style="margin-bottom: 2em">
                    <div class="box maxheight"  >
                      <h2 id="id_map" >Map</h2>
                      <div id="map_canvas"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>   


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
    
<script>
  function initialize() {
    var map_canvas = document.getElementById('map_canvas');
    
    if (map_canvas) {
    
      var myLatlng = new google.maps.LatLng({{businessinfo.latitude}}, {{businessinfo.longitude}});
    
      var map_options = {
        center: myLatlng,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(map_canvas, map_options);
    
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Prairie Wind Speech and Language Services'
      });
    }
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>



{% endblock %}


