{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!--content-->

<div class="content" style="padding-top: 8em;">
    <div class="thumb-box2">
        <div class="container">
            <h1 class="title wow fadeIn">Our Therapists</h1>

            {% for p in people %}
            {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}
                {% if forloop.last %}
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
                {% else %}
                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-1"></div>
                {% endif %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 wow fadeIn" data-wow-delay="0.3s">
                    <div class="thumb-pad1 person">
                        <div id="id_person{{p.id}}" class="thumbnail">
                            <figure><img src="{% static p.picture %}" alt="" width="25%"></figure>
                            <div class="caption">
                                <h2 style="font-size: 110%; margin-bottom: 0.5em">{{p.first_name}} {{p.last_name}} {{p.suffix}}</h2>
                                <span class="title">{{p.title}}</span>
                                {{p.description_html|safe}}
                            </div>
                        </div>
                    </div>
                </div>
               {% if forloop.last %}
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
                {% else %}
                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-1"></div>
                {% endif %}
            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


