{% extends "base.html" %}

{% block content %}

  <div class="row">
  
  <div class="col-md-2">
    <div id="id_page_nav" class="nav-sidebar">
      <ul class="nav">
        <li><a href="#id_phone">Phone and Fax</a></li>
        <li><a href="#id_form">Request Form</a></li>
      </ul>
    </div>
  </div> 
    
  <div class="col-md-9">

    <h2 id="id_phone">Phone and Fax</h2>
    <div>Phone: {{bus_info.phone}}</div>
    <div>FAX: {{bus_info.fax}}</div>
    
   <h2 id="id_form">Information Request Form</h2>

   <p>Thank you for your interest or comment to Prairie Wind Therapy, Inc.</p>

   <p>We will get back to you as soon as possible</p>  
   
 </div> 

{% endblock %}


