{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="thumb-box1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="box">
                    <div class="extra-wrap">
                        <figure><img src="{% static 'img/phone2_small.png' %}" alt=""></figure>                    
                        <a href="{% url 'show_services' %}#id_free">Free Consultation</a>
                        <p>Call us at <a href="tel:{{businessinfo.phone_href}}" style="font-size: 100%">{{businessinfo.phone}}</a> to schedule an appointment</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
                <div class="box">
                    <div class="extra-wrap">
                        <figure><img src="{% static 'img/schedule_small.png' %}" alt=""></figure>                    
                        <a href="{% url 'show_services' %}#id_flex">Flexible Scheduling</a>
                        <p>We work with your family schedule</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->
<div class="content"> 
    <div class="thumb-box2">
        <div class="container">
            <h1 class="title wow fadeIn">Communication is Connection</h1>
            <p class="description wow fadeIn">Serving Champaign-Urbana and the surrounding communities.</p>

            <div class="row programs">
                {% for p in programs %}
                {% if p.show %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s" style="margin-top: 2em">
                    <div class="box maxheight">
                      <a href="{% url 'show_services' %}#id_program{{p.id}} "><h2>{{p.title}}</h2>
                      {{p.short_desc_html|safe}}....
                      </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="row programs">
                <h2>What Makes Us Special?</h2>
                {% for s in services %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s" style="margin-top: 2em">
                    <div class="box maxheight">
                      <strong>{{s.title}}</strong>
                      <p>{{s.short_desc_html|safe}}....</p>
                      <a href="{% url 'show_services' %}#id_service{{s.id}} "class="btn-default btn1" data-text="Read More">
                      Read More <span class="sr-only"> about {{s.title}}</span>
                      </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="thumb-box4" style="margin-top: 3em">
            <div class="container">
                <div class="box">
                    <p class="title">Our team is 100% committed to help your child improve their communication.</p>
                </div>
            </div>
        </div>

        <div class="thumb-box3">
            <div class="container">
                <div class="box">
                    <h2>Our Therapists</h2>
                    <div class="row">
                        {% for p in people %}
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="thumb-pad1">
                                <div class="thumbnail">
                                    <figure><img src="{% static p.picture %}" alt="" width="25%"></figure>
                                    <div class="caption">
                                        <span>{{p.title}}</span>
                                        <a href="{% url 'show_people' %}#id_person{{p.id}}">{{p.first_name}} {{p.last_name}} {{p.suffix}}</a>
                                        <p>{{p.short_desc_html|safe}} .....</p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="thumb-box6">
            <div class="container">
                <h2>Come Visit Our Office</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-1-sm.jpg' %}" alt=""></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn"><img src="{% static 'img/office-2-sm.jpg' %}" alt=""></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn"><img src="{% static 'img/office-3-sm.jpg' %}" alt=""></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-4-sm.jpg' %}" alt=""></figure>
                    </div>    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-5-sm.jpg' %}" alt=""></figure>
                    </div>    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-6-sm.jpg' %}" alt=""></figure>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <figure class="wow zoomIn" data-wow-delay="0.1s"><img src="{% static 'img/office-7-sm.jpg' %}" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

{% endblock %}


